<div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render 'partials/sidebar' %>
      </div>
      <div class="col-md-4">
        <%= @products.count%>
        <%= @orders.count %>
        <%= @user.count %>
      </div>
    </div>
  </div>
</div>