<div class="d-flex flex-column flex-shrink-0  bg-body-tertiary" >
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <%= link_to "Dashboard", admin_path, class: " nav-link #{'active bg-danger' if current_page?(admin_path)}" %>
    </li>
    <li>
      <%= link_to "Products", products_path, class: "nav-link #{'active bg-danger' if current_page?(products_path)}" %>
    </li>
    <li>
      <%= link_to "Orders", orders_path ,class: "nav-link #{'active bg-danger' if current_page?(orders_path)}" %>
    </li>
    <li>
      <%= link_to "Vendors", vendors_path, class: "nav-link #{'active bg-danger' if current_page?(vendors_path)}" %>
    </li>
  </ul>
</div>