
<div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render 'partials/sidebar' %>
      </div>
      <div class="col-md-10">
      <%= render 'partials/order' %>
      </div>
    </div>
  </div>
</div>